@import "tailwindcss";

@theme {
  --color-brand-navy: #0F172A;
  --color-brand-royal: #2563EB;
  --color-brand-gold: #D4AF37;
  --color-brand-light: #F8FAFC;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}